<link rel="stylesheet" href="/css/Experiencias/ExperienciasEditar.css" />

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

{{#each enlistar}}
<form action="/experiencias/editar/{{idExperiencias}}" method="POST">
    <div id="contenedor">
        <div id="titulo">
            <label>Editar Experiencias</label>
        </div>

        <div id="Nombres">
            <label>
                Nombre:
            </label>
            <input type="text" name="nombreExperiencia" id="nombre" value="{{nombreExperiencia}}">
        </div>

        <div id="descripcion">
            <label>
                Descripción:
            </label>
            <input type="text" name="experienciasDetallesExperiencias" id="descripcion"
                value="{{experienciasDetallesExperiencias}}">
        </div>

        <div id="Guardar">
            <button type="submit" id="btn-agregar">
                Guardar Cambios
            </button>
        </div>
    </div>
</form>
{{/each}}