<link rel="stylesheet" href="/CSS/Usuario/Registro.css" />

<div id="fondo">
  <img src="/img/fondos/Fondo.jpg" />
</div>

<div id="contenedor">
  <!-- Aquí comienza el formulario -->
  <div id="formulario">
    <h2 name="h2" id="h2">CREAR CUENTA</h2>
    <form action="/Registro" method="post" id="ocultar">
      <div id="Cedula">
        <input
          id="cedulatxt"
          type="text"
          name="cedulaPaciente"
          placeholder="Cédula"
          required
        />
      </div>

      <div id="Nombres">
        <input
          id="nombretxt"
          type="text"
          name="nombrePaciente"
          placeholder="Nombre"
          required
        />
      </div>

      <div id="Apellido">
        <input
          id="apellidotxt"
          type="text"
          name="apellidoPaciente"
          placeholder="Apellido"
          required
        />
      </div>

      <div id="FechaNacimiento">
        <input
          id="fechaNacimientotxt"
          type="date"
          name="fechaNacimientoPaciente"
          placeholder="Fecha de Nacimiento"
          required
        />
      </div>

      <div id="CorreoEletronico">
        <input
          id="emailtxt"
          type="email"
          name="username"
          placeholder="Correo Eletrónico"
          required
        />
      </div>

      <div id="Contrasena">
        <input
          id="pastxt"
          type="password"
          name="password"
          placeholder="Contraseña"
          required
        />
      </div>

      <div id="Celular">
        <input
          id="celulartxt"
          type="tel"
          name="celularPaciente"
          placeholder="Celular"
          required
        />
      </div>

      <div id="ojo">
        <button id="visto" type="button" onclick="boton.cambio()">
          <img src="/img/icons/white/eye.png" />
        </button>
        <button id="equis" type="button" onclick="boton.cambio2()">
          <img src="/img/icons/white/blind.png" />
        </button>
      </div>

      <div id="ingresar">
        <button type="submit">Ingresar
        </button>
      </div>
    </form>
  </div>
  <!-- Aquí termina el formulario -->
  <div id="logo">
    <img src="/img/logo/Logo_epilepsum.png" />
  </div>
</div>

<script src="/js/Usuario/Registro.js"></script>