input{
    text-align: center; 
    font-style: italic; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
}

button{
    background-color: rgb(220, 20, 170); 
    text-align: center; 
    font-style: italic; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    display: block;
}

#button:focus{
    border-radius: 6px solid crimson;
}

a{
    text-decoration: none;
}

#fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 90%;
    top: 10%;
}

#fondo img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    font-size: 20px;
    font-style: italic; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
