    #contenedor{
    background: rgba(27, 144, 240, 0.781);
    position: absolute;
    width: 100%;
    height: 125%;
    max-width: 60%;
    max-height: 900%;
    left: 20%;
    top: 20%;
    text-align: center;
    padding: 4%;
}

#mensaje p{
    position: absolute;
    width: 70%;
    top: 25%;
    left: 15%;
}

#mensaje button{
    position: absolute;
    width: 70%;
    top: 60%;
    left: 15%;
}






#nombres,
#composicion,
#detalle,
#administracion,
#contradicaciones,
#dosis,
#fechaElaboracion,
#fechaVencimiento,
#laboratorio{
        width: 100%;
    height: 100%;
    max-width: 70%; 
    max-height: 10%;
    margin-left: 15%;
}

label{
    position: absolute;
    left: 6%;
    font-size: 22px;
}


#titulo{
    margin-top: 5%;
    font-size: 22.5px;
}

#botonEditar,
#botonEliminar{
    width: 100%;
    height: 100%;
    max-width: 80%; 
    max-height: 10%;
    margin-left: 10%;
    margin-top: 2.5%;
}

#botonEditar button,
#botonEliminar button,
#botonEditar a,
#botonEliminar a{
    width: 100%;
    height: 100%;
}

.row{
    row-gap: 5%;
    gap: 50px;
}


#plus{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 4%; 
    max-height:  8%;
    right: 0%;
    top: 18%;
}

#plus img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


footer{
    bottom: -70%;
}
