<link rel="stylesheet" href="/css/contenido/contenidoAgregar.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png" />
</div>

<div id="contenedor">
    <form action="/contenido/agregar/{{user.idUsuario}}" method="POST">
        <div id="titulo">
            <label>
                {{#each idMax}}
                Agregar Contenido N:
                <input type="text" name="contenidos" id="numero" value="{{'MAX(idContenido)'}}" readonly/>
                {{/each}}
            </label>
        </div>

        <div id="Nombres">
            <label>
                Nombre:
            </label>
            <input type="text" name="nombreContenido" id="nombre" required>
        </div>

        <div id="descripcion">
            <label>
                Descripción:
            </label>
            <input type="text" name="descripcionDetalleContenido" id="descripcion" required>
        </div>


        <!--div>
            <label>
                Foto:
            </label>
            <input type="image" name="imagenDetalleContenido" id="foto">
        </!--div>

        <div>
            <label>
                Video:
            </label>
            <input type="video" name="videoDetalleContenido" id="video">
        </div>
        -->

        <div id="Guardar">
            <button type="submit" id="btn-agregar">
                Agregar
            </button>
        </div>
    </form>
</div>

<script src="/js/numero.js"></script>