<link rel="stylesheet" href="/css/proyecto/agregarProyecto.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

<form action="/proyecto/agregar/" method="post" id="ocultar">
    <div id="contenedor">
        <div id="id">
            {{#each proyecto}}
            <input type="text" name="numero" id="numero" value="{{idProyect}}">
            {{/each}}
        </div>
        <div id="Nombre">
            <label>Nombre Proyecto:</label>
            <input type="text" name="nombreProyecto" id="nombre">
        </div>
        <div id="objetivos">
            <label>Objetivos</label>
            <input type="text" id="numeros" checked>
            <button type="button" onclick="objetivos.crear()">-></button>
        </div>
        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>

<script src="/js/numero.js"></script>
<script src="/js/objetivos.js"></script>