<form action="/proyecto/editar/{{user.idUsuario}}" method="post">
    <div id="contenido">
        {{#each listas}}
        <div id="Nombre">
            <label>Nombre Proyecto:</label>
            <input type="text" name="nombreProyecto" id="nombre" value="{{nombreProyecto}}">
        </div>
        {{/each}}
        {{#each lista}}
        <div id="objetivos">
            <textarea name="objetivo">{{objetivo}}</textarea>
        </div>
        {{/each}}
        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>