<form action="/proyecto/lista/{{user.idUsuario}}" method="get"></form>
<div id="contenido">
    {{#each listas}}
    <div id="nombre">
       <label >{{nombreProyecto}}</label> 
    </div>
    {{/each}}
    {{#each objetivos}}
    <div id="objetivos">
        <ul>
            <li>{{objetivos}}</li>            
        </ul>
    </div>
    {{/each}}
</div>
