<<<<<<< HEAD
<link rel="stylesheet" href="/CSS/proyecto/listaProyecto.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png" alt="Logo">
</div>

=======
>>>>>>> Ever
<form action="/proyecto/lista/{{user.idUsuario}}" method="get"></form>
<div id="contenido">
    {{#each listas}}
    <div id="nombre">
       <label >{{nombreProyecto}}</label> 
    </div>
    {{/each}}
    {{#each objetivos}}
    <div id="objetivos">
        <ul>
            <li>{{objetivos}}</li>            
        </ul>
    </div>
    {{/each}}
</div>
<<<<<<< HEAD


<div id="plus">
    <a href="/proyecto/agregar/">
        <button type="button"><img src="/img/icons/white/plus.png" /></button>
    </a>
</div>

<script src="/js/numero.js"></script>
<script src="/js/objetivos.js"></script>
=======
>>>>>>> Ever
