footer {
    bottom: -25%;
}
#fondo{
    background-repeat: no-repeatZ;
}


/* contenido general */
#horas, 
#fechas{
    display: none;
}
#mensaj::-webkit-scrollbar {
    width: 9px;
}

#mensaj{
    height: 350px;
    overflow-y: auto;
    padding: 10px 20px 20px 40px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 /5%),
    inset 0 -32px 32px -32px rgb(0 0 0 /5%) ;
}
#mensaj::-webkit-scrollbar-track {
    background: rgba(94, 97, 97, 0.623);
    border-radius: 15px;
}

#mensaj::-webkit-scrollbar-thumb {
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    border: 3px solid rgba(12, 91, 97, 0.623);
}

#card {
    position: absolute;
    top: 50%;
    left: 38%;
    width: 45%;
    height: 500px;
    margin: -150px;
    float: left;
    perspective: 500px;
    background: #ccc;
    border-radius: 15px;
    box-shadow: 24px 25px 20px rgba(7, 7, 7, 0.541);
}

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

}


/* envio */
#area{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    background: #333;
}
#area input{
    height: 51px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px;
    outline: none;
}
#area button{
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 19px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
#area img{
    width: 55px;
    border: none;
    outline: none;
    background: #333;
}


/* contendio chat */
#mensaj{
    height: 350px;
    overflow-y: auto;
    padding: 10px 30px 20px 30px;
}

#chatsa1 {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px ;
    word-wrap: break-word;

}
#persona1,
#chatsa1  {
    margin-left: auto;
    max-width: calc(100% - 130px);
}
#persona2,
#chatsa  {
    margin-right: auto;
    max-width: calc(100% - 130px);
}
#chatsa1 p {
    padding: 4% 6%;
}
#fecha1{
    padding-left: 45%;
}
#hora1{
    padding-left: 90%;
}
#fecha1, #hora1{
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#chatsa p{
    word-wrap: break-word;
    padding-left: 10%;
    background: #fff;
    color: #333;
    border-radius: 18px 18px 18px 0;
}
#fecha{
    padding-left: 45%;
}
#fecha, #hora{
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* encabezdo */
#imagenr {
    border-radius: 75%;
}
#contenedor {
    background: rgb(56, 54, 54);
    margin-top: -1px;
    align-items: center;
    display: flex;
    height: 80px;
    width: 100%;
    border-radius: 8px;
}

#contenedor p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    color: #fff;
    word-wrap: break-word;
}

#contenedor img {
    height: 60px;
    width: 60px;
    margin-right: 2%;
    margin-left: 3%;
}

.imgnc {
    margin-right: 20px;
    margin-left: 20px;
}

#palabr p {
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}