#contenedor{
    background-color: rgba(27, 144, 240, 0.781);
    position: absolute;
    width: 100%;
    height: 280%;
    max-width: 80%;
    max-height: 270%;
    left: 10%;
    top: 16.5%;
    text-align: center;
}

#tarjetaPregunta,
#tarjetaRespuesta,
#OtraPregunta{
    background-color: rgba(137, 240, 163, 0.781);
    width: 100%;
    height: 100%;
    max-width: 90%;
    max-height: 35%;
    position: absolute;
    top: 3%;
    left: 5%;
    text-align: center;
}

#tarjetaRespuesta{
    top: 38%;
}

#OtraPregunta{
    max-height: 25%;
    top: 73%;
}

/*titulos*/
#titulo,
#TituloPregunta,
#TituloRespuesta{
    width: 100%;
    height: 100%;
    max-width: 60%;
    max-height: 7.5%;
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 25px;
    font-weight: bolder;
}

#TituloPregunta,
#TituloRespuesta{
    max-width: 35%;
    top: 12.5%;
    text-align: left;
    left: 5%;
}

/* Imagen y video */
#iconImagenPregunta,
#iconVideoPregunta,
#imagenPregunta,
#videoPregunta,
#iconImagenRespuesta,
#iconVideoRespuesta,
#imagenRespuesta,
#videoRespuesta{
    background-color: black;
    width: 100%;
    height: 100%;
    max-width: 35%;
    max-height: 30%;
    position: absolute;
    left: 55%;
    top: 20%;
}

#iconVideoPregunta,
#videoPregunta,
#iconVideoRespuesta,
#videoRespuesta{
    top: 60%;
}

#iconImagenPregunta img,
#iconVideoPregunta img,
#imagenPregunta img,
#videoPregunta video,
#iconImagenRespuesta img,
#iconVideoRespuesta img,
#imagenRespuesta img,
#videoRespuesta video{
    background-color: white;
    width: 90%;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 5%;
}

/*Pregunta y respuesta*/
#Pregunta,
#Respuesta,
#botonEliminar{
    width: 42.5%;
    height: 100%;
    max-width: 100%;
    max-height: 7%;
    position: absolute;
    top: 24%;
    left: 5%;
}

#botonEliminar{
    top: 80%;
}

#botonEliminar button{
    width: 100%;
    height: 100%;
}

#PreguntaImagen,
#PreguntaAgregarImagen,
#PreguntaVideo,
#PreguntaAgregarVideo,
#RespuestaImagen,
#RespuestaAgregarImagen,
#RespuestaVideo,
#RespuestaAgregarVideo{
    width: 42.5%;
    height: 100%;
    max-width: 100%;
    max-height: 10%;
    position: absolute;
    top: 40%;
    left: 5%;
    background-color: transparent;
}

#PreguntaAgregarImagen,
#RespuestaAgregarImagen{
    top: 52%;
}

#PreguntaVideo,
#RespuestaVideo{
    top: 64%;
}

#PreguntaAgregarVideo,
#RespuestaAgregarVideo{
    top: 76%;
}

#preguntaImagenSi,
#preguntaImagenNo,
#preguntaVideoSi,
#preguntaVideoNo,
#respuestaImagenSi,
#respuestaImagenNo,
#respuestaVideoSi,
#respuestaVideoNo{
    width: 35%;
    height: 100%;
    max-width: 100%;
    max-height: 14%;
    position: absolute;
    top: 50%;
    left: 10%;
}

#preguntaImagenNo,
#preguntaVideoNo,
#respuestaImagenNo,
#respuestaVideoNo{
    left: 55%;
}

#preguntaImagenSi input,
#preguntaImagenNo input,
#preguntaVideoSi input,
#preguntaVideoNo input,
#respuestaImagenSi input,
#respuestaImagenNo input,
#respuestaVideoSi input,
#respuestaVideoNo input{
    position: absolute;
    top: 75%;
    left: 20%;
}

#Nrespuesta{
    width: 100%;
    height: 100%;
    max-width: 15%;
    max-height: 7.5%;
    background-color: transparent;
    border-color: transparent;
    font-weight: bolder;
}

/*Textarea*/
#numeros{
    width: 80%;

}

#Unico,
#listaObjetivos{
    width: 80%;
    height: 100%;
    max-width: 80%;
    max-height: 7%;
    position: absolute;
    top: 20%;
    left: 10%;
}

#boton,
#Guardar{
    width: 100%;
    height: 100%;
    max-width: 42.5%;
    max-height: 7.5%;
    position: absolute;
    left: 5%;
    bottom: 5%;
}

#Guardar{
    left: 52.5%;
}

#boton button,
#Guardar button{
    width: 100%;
    height: 100%;
}

footer{
    bottom: -200%;
}
