<link rel="stylesheet" href="/CSS/composicion/composicionMedicamentosAgregar.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso1.jpg">
</div>
<form action="/composicionMedicamento/agregar/{{idPaciente}}" method="POST"></form>
<div id="contenedor">

    <div id="titulo">
        <h3>Principio Activo de Medicamento</h3>
    </div>
    <div id="nombres">
        <label for="">Nombre del Medicamento</label>
        <input type="text" name="nombreMedicamentos" id="nombre" required>
    </div>
    <div id="composicion">
        <label for="">Composicion del Medicamento</label>
        <ul>
            <li><input type="text" name="composicionMedicamentos" id="dosis" required></li>
        </ul>
    </div>
    <div id="detalle">
        <label for="">Detalle del Medicamento</label>
        <input type="text" name="descripcionMedicamentos" id="detalle" required>
    </div>
    <div id="administracion">
        <label for="">Via de Administración del Medicamento</label>
        <input type="text" name="viaAdministracionMedicamentos" id="administracion" required>
    </div>
    <div id="contradicaciones">
        <label for="">Contraindicaciones del Medicamento</label>
        <input type="text" name="indicacionesMedicamentos" id="contraindicaciones" required>
    </div>
    <div id="dosis">
        <label for="">Dosis del Medicamento</label>
        <input type="text" name="dosisMedicamentos" id="Dosis" required>
    </div>
    <div id="fechaElaboracion">
        <label for="">Fecha de Elaboracion del Medicamento</label>
        <input type="date" name="fechaElaboracionMedicamentos" id="fechaElaboracion" required>
    </div>
    <div id="fechaVencimiento">
        <label for="">Fecha de Vencimiento del Medicamento</label>
        <input type="date" name="fechaVencimientoMedicamentos" id="fechaVencimiento" required>
    </div>
    <div id="laboratorio">
        <label for="">Laboratorio </label>
        <input type="text" name="laboratorioMedicamentos" id="laboratorio" required>
    </div>
    <div id="boton">
        <a href="/composicionMedicamento/agregar/{{idFarmaco}}">
            <button type="submit" id="btn-agregar">Agregar</button>
        </a>
    </div>
</div>
</form>


<div id="plus">
    <a href="#">
        <button type="button">
            <img src="/img/usuarios/plus.png">
        </button>
    </a>
</div>