<!-- Required meta tags -->
<link rel="stylesheet" href="/css/Página_Principal.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

<form action="/Inicio" id="ocultar">
    <!-- Aquí comienza el carrusel -->
    <div id="carrusel-img">
        <img src="/img/carrusel/cerebro-3.jpg" id="img-1">
        <img src="/img/carrusel/neuronas-epilepsia.jpg" id="img-2">
        <img src="/img/carrusel/cerebro-2.jpg" id="img-3">
        <img src="/img/carrusel/cerebro-7.jpg" id="img-4">

    </div>

    <div>
        <button id="boton-1" onclick="imagen.animacion1()"></button>
        <button id="boton-2" onclick="imagen.animacion2()"></button>
        <button id="boton-3" onclick="imagen.animacion3()"></button>
        <button id="boton-4" onclick="imagen.animacion4()"></button>
    </div>

    <div id="titulo">
        <h1>EPILEPSUM</h1>
        <h2>"TE DA LA BIENVENIDA"</h2>
    </div>

    <div id="titulo2">
        <h4>CONOCE MÁS DE LA EPILEPSIA</h4>
        <h4>Y COMO PUEDES IDENTIFICARLO</h4>
    </div>
    <!-- Aquí termina el carrusel -->

    <!-- Aquí comienzan las cartas -->
    <div id="contenedor">
        <div id="carta-1">
            <img src="/img/cartas/epilepsia/epilepsia.jpg">
            <h5>¿QUÉ ES EPILEPSIA?</h5>
            <a href="#ventana_4" data-toggle="modal">
                <button>Ver más</button>
            </a>
        </div>

        <div id="carta-2">
            <img src="/img/cartas/epilepsia-focal/epilepsia-focal.png">
            <h5>LAS CRISIS EPILÉPTICAS FOCALES O PARCIALES</h5>
            <a href="#ventana_5" data-toggle="modal">
                <button>Ver más</button>
            </a>
        </div>

        <div id="carta-3">
            <img src="/img/cartas/epilepsia-generalizada/epilepsia-generalizadas.png">
            <h5>LAS CRISIS EPILÉPTICAS GENERALIZADAS</h5>
            <a href="#ventana_6" data-toggle="modal">
                <button>Ver más</button>
            </a>
        </div>

        <div id="carta-4">
            <img src="/img/cartas/convulsiones/convulsiones.jpg">
            <h5>ESTADO DE MAL EPILÉPTICO</h5>
            <a href="#ventana_7" data-toggle="modal">
                <button>Ver más</button>
            </a>
        </div>

        <div id="carta-5">
            <img src="/img/cartas/doctores/doctor.png">
            <h5>DIAGNÓSTICO MÉDICO</h5>
            <a href="#ventana_8" data-toggle="modal">
                <button>Ver más</button>
            </a>
        </div>

        <div id="carta-6">
            <img src="/img/cartas/doctores/doctor1.png">
            <h5>NEURÓLOGO Y EPILEPTÓLOGO</h5>
            <a href="#ventana_9" data-toggle="modal">
                <button>Ver más</button>
            </a>
        </div>

        <div id="carta-7">
            <img src="/img/cartas/natural/natural.jpg">
            <h5>EPILEPSIA DE FORMA NATURAL</h5>
            <a href="#ventana_10" data-toggle="modal">
                <button>Ver más</button>
            </a>
        </div>
        <div id="carta-8">
            <img src="/img/cartas/niños/niños.jpg">
            <h5>EPILEPSIA EN NIÑOS</h5>
            <a href="#ventana_11" data-toggle="modal">
                <button>Ver más</button>
            </a>
        </div>

        <div id="carta-9">
            <img src="/img/cartas/preguntas/preguntas.png">
            <h5>PREGUNTAS FRECUENTES</h5>
            <a href="#ventana_12" data-toggle="modal">
                <button>Ver más</button>
            </a>
        </div>
        <!-- Aquí termina las cartas -->

        <!-- Aquí empieza contenido de las cartas -->
        <div class="modal" id="ventana_4">
            <iframe src="https://www.youtube.com/embed/h16bIohhpjs" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>
                La epilepsia es una enfermedad neurológica cerebral crónica caracterizada por una predisposición a
                presentar crisis epilépticas repetidas, normalmente se pide que sean dos o más crisis y el origen de
                estas se debe a una descarga excesiva paroxística de impulsos nerviosos por parte de grupos de neuronas
                cerebrales suelen ser crisis bruscas y breves que darán lugar a manifestaciones clínicas más o menos
                evidentes.<br>
                <br>Muchas veces se usa el término crisis epilépticas como sinónimo de convulsiones, pero no siempre es
                así, pueden ser:<br>
                <br>• Crisis Motoras.
                <br>• Sensitivas.
                <br>• Vegetativas.
                <br>• Síquicas.<br>
                <br>Que pueden acompañarse con o sin disminución del Estado de conciencia, los mecanismos
                fisiopatológicos, aunque no son del todo conocidos, nos podemos encontrar con diferentes
                clasificaciones, según la presentación clínica de la epilepsia las “crisis epilépticas focales o
                parciales” y las “crisis epilépticas generalizadas”.<br>.
            </p>
        </div>

        <div class="modal" id="ventana_5">
            <iframe src="https://www.youtube.com/embed/-KXXJ_XWUrY" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>
                Afecta específicamente a una zona del cerebro, lóbulo cerebral o un hemisferio, en estas crisis existen
                dos tipos de afectación es:<br>
                <br>a. Simples: No existe afectación de la consciencia.
                <br>b. Complejas: Existe afectación de la consciencia.<br>
                <br>Las crisis epilépticas focales como la descarga se da en una zona concreta del córtex cerebral, los
                síntomas y signos pueden variar según las funciones de estas zonas el o la paciente puede tener:<br>
                <br>a. Signos vegetativos.
                <br>b. Signos sensitivos.
                <br>c. Signos visuales.
                <br>d. Signos psíquicos.
                <br>e. Alucinaciones olfativas o auditivas.
                <br>f. Automatismos (cambios de expresión, movimientos repentinos y repetitivos).
                <br>g. Alteraciones del lenguaje.
                <br>h. Síntomas y signos motores diversos (sacudidas en un grupo de músculos que dependen de las
                neuronas que han sido activadas y estas sacudidas pueden extenderse a otros musculares próximos a estos
                y a esto se lo llama MARCHA JACKSONIANA).<br>
                <br>El paciente puede ser consciente de toda esta combinación de síntomas y por eso se hacía la
                distinción entre parciales simples y complejos.<br>.
            </p>
        </div>

        <div class="modal" id="ventana_6">
            <img src="/img/cartas/epilepsia-generalizada/cerebro7.png" width="460" height="465">
            <p>
                Afecta a ambos hemisferios del cerebro y perdida de consciencia que existen tres tipos
                generalizadas:<br>
                <br><b>a. CRISIS GENERALIZADAS CONVULSIVAS:</b><br>
                <br>Existen varias clases, pero lo más frecuente son combinaciones.
                <br>Existen varias clases como:<br>
                <br><b>i. Crisis Epilépticas Mioclonías:</b> Consisten en unas sacudidas musculares breves que pueden
                durar de 20 a 120 minutos y pueden llegar a lanzar algún objeto que tengan las manos durante la
                crisis.<br>
                <br><b>ii. Crisis Epilépticas Tónicas:</b> Consiste en una contracción de todos los músculos del tronco
                y extremidades, que suele ser breves, y provoca la caída del paciente.<br>
                <br><b>iii. Crisis Epilépticas Clónicas:</b> Consiste en contracciones musculares violentas de todo el
                cuerpo. <br>
                <br><b>iv. Crisis Epilépticas Tónicas - Clónicas:</b> Son los más frecuentes, empieza con una fase
                tónica que puede durar unos 30 segundos cae al suelo, y se sigue una fase clónica de sacudidas violentas
                que al principio son muy breves, y cada vez son más espaciadas, el paciente puede sudar, babear,
                morderse la lengua o la mejilla, puede tener incontinencia de esfínteres, y puede sufrir lesiones
                traumatológicas, secundarias a la caída; al salir de la crisis puede estar en una situación de
                confusión, somnolencia, y en ocasiones de amnesia, sufrir un dolor muscular generalizado, estos síntomas
                pueden durar incluso varias horas, finalizando en las crisis epilépticas mioclonías.<br>
                <br><b>b. CRISIS GENERALIZADAS ATÓNICAS O AMIOTÓNIA:</b> Consiste en la pérdida del tono postural que
                puede ser total y provocar la caída del suelo, que se suele llamar DROP ATTACK EPILÉPTICO, o puede
                limitarse a la cabeza o a la flexión de la rodilla, sí es total provocará la caída al suelo del
                paciente.<br>
                <br><b>c. CRISIS GENERALIZADAS NO CONVULSIVAS:</b> Son las ausencias, como se indica el paciente parece
                quedarse ausente, cesa su actividad, su mirada está perdida fija y tras unos segundos recupera la
                consciencia; las ausencias típicas pueden repetirse muchas veces durante el día y desencadenarse por la
                hiperventilación algunas veces pueden acompañarse de mioclonías.<br>.
            </p>
        </div>

        <div class="modal" id="ventana_7">
            <iframe src="https://www.youtube.com/embed/-ZRKueLrTRo" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>
                Existe un estatus epiléptico o crisis continuas, y se pone esta etiqueta las crisis que duran 30 minutos
                o más, o que se repiten con tanta frecuencia que no se recupere el paciente entre una crisis y otra se
                puede distinguir entre mal epiléptico convulsivo o no convulsivo en el caso de mal epiléptico convulsivo
                estamos ante una urgencia médica. <br>.
            </p>
        </div>

        <div class="modal" id="ventana_8">
            <iframe src="https://www.youtube.com/embed/Lsj8XK-9rng" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>
                El diagnóstico es clínico y se basa principalmente la anamnesis, es muy importante buscar información,
                los testigos sobre lo que ha pasado antes, durante y después de la crisis, es importante saber, si las
                crisis son realmente epilépticas, saber el tipo de crisis e intentar determinar la causa, la tecnología
                para la exploración física, tendremos que conocer los antecedentes personales, se deben realizar pruebas
                complementarias habituales para hacer el diagnóstico diferencial como la analítica electrocardiograma,
                radiografía de tórax, en algunos casos también habrá que hacer la función lumbar todo dependiendo de la
                sospecha clínica una prueba diagnóstica fundamental es el electroencefalograma, qué es la prueba típica
                y otras pruebas que se pueden realizar que también son útiles para el diagnóstico diferencial son en la
                tomografía y la resonancia magnética o incluso el PP. <br>.
            </p>
        </div>

        <div class="modal" id="ventana_9">
            <iframe
                src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fcentroepilepsia%2Fvideos%2F246904067085755%2F&show_text=false&width=560&t=0"
                style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                allowFullScreen="true"></iframe>
            <p>
                ¿Cuál es diferencia entre Neurólogo y Epileptólogo para la atención de la epilepsia?
                <br>El neurólogo es un médico especializado en el cerebro y el sistema nervioso.<br>
                <br>El epileptólogo es un neurólogo especializado en la epilepsia.<br>
                <br>Cuando hay problemas, como convulsiones o efectos secundarios de los medicamentos, el proveedor de
                atención médica primaria puede remitir al paciente a un neurólogo o epileptólogo para que reciba
                atención especializada.<br>.
            </p>
        </div>

        <div class="modal" id="ventana_10">
            <div id="p-1">
                <p>
                    El paciente necesita de un tratamiento médico específico adaptado completamente a su caso y que le
                    permita desarrollar su vida con normalidad en la medida de lo posible.<br>
                    <br>Los consejos y remedios naturales que te mostramos a continuación pueden favorecer la mejoría
                    del paciente con epilepsia o disminuir, en la medida de lo posible, la gravedad o la frecuencia de
                    los ataques que sufra, pero en ningún caso sustituyen o pueden usarse como sustitutos del
                    tratamiento médico.
                </p>
            </div>
            <div id="img-01">
                <img src="/img/cartas/natural/natural1.jpg">
            </div>
            <div id="p-2">
                <p>
                    <b>i.-</b> Se insiste mucho en la dieta de los pacientes con epilepsia a fin de favorecer su
                    bienestar. No debe faltar por ejemplo el aporte de <b>omega 3</b>, pues se trata de un ácido graso
                    esencial para el buen parte en el pescado azul: salmón, sardinas, atún, arenque, etc., aunque
                    también en las nueces, vegetales de hoja verde y las fresas.
                </p>
            </div>
            <div id="img-02">
                <img src="/img/cartas/natural/natural3.jpg">
            </div>
            <div id="p-3">
                <p>
                    <b>ii.- La vitamina E</b> es un potente antioxidante que podría ayudar a prevenir ataques de
                    epilepsia. Un estudio realizado en la Universidad de Toronto ha probado que la vitamina E en niños
                    ayuda a controlar las convulsiones en los ataques epilépticos.
                </p>
            </div>
            <div id="img-03">
                <img src="/img/cartas/natural/natural2.jpg">
            </div>
            <div id="p-4">
                <p>
                    <b>iii.- Las frutas como las verduras</b> son alimentos para el cerebro y su óptimo funcionamiento,
                    proporcionan una alta cantidad de antioxidantes, vitaminas y minerales. Las frutas más destacadas
                    para quienes sufren de epilepsia encontramos <b>las fresas, frambuesas, naranjas, arándanos, uvas,
                        melones y manzanas</b>. Por otro lado, son excelentes alternativas <b>las verduras de hoja verde
                        como las espinacas, el brócoli, la col rizada, la lechuga, las acelgas, la coliflor y las
                        zanahorias</b>.<b>
                </p>
            </div>
            <div id="img-04">
                <img src="/img/cartas/natural/natural4.jpg">
            </div>
            <div id="p-5">
                <p>
                    iv.- Dormir bien y llevar una vida tranquila</b> también ayuda a controlar los ataques de epilepsia.
                    Además de un buen sescanso, se ha señalado que hay terapias alternativas como por ejemplo <b>la
                        práctica de yoga</b> que pueden ser de gran ayuda. En concreto, esta disciplina mejora en el
                    paciente el control que tiene sobre las crisis epilépticas, al mismo tiempo que favorece su calidad
                    de vida.
                </p>
            </div>
            <div id="img-05">
                <img src="/img/cartas/natural/natural5.jpg">
            </div>
        </div>

        <div class="modal" id="ventana_11">
            <div id="niños">
                <img src="/img/cartas/niños/niños1.png">
            </div>
            <p>
                • Lesión cerebral traumática.
                <br>• Daño o cicatrices después de infecciones del cerebro.
                <br>• Defectos de nacimiento que involucran al cerebro.
                <br>• Daño cerebral que ocurre durante o cerca del nacimiento.
                <br>• Trastornos metabólicos presentes en el nacimiento (como fenilcetonuria).
                <br>• Tumor cerebral benigno, a menudo muy pequeño.
                <br>• Vasos sanguíneos anormales en el cerebro.
                <br>• Accidente cerebrovascular.
                <br>• Otras enfermedades que dañan o destruyen el tejido cerebral.
            </p>

        </div>

        <div class="modal" id="ventana_12">
            <p>

                <b>1. ¿Cual es la esperanza de vida con Epilepsia?</b>
                <br>En los adultos con <b>epilepsia</b>, el riesgo de morir es hasta tres veces mayor que en la
                población general. Los estudios sugieren que la esperanza de vida puede reducirse hasta en 10 años
                cuando hay una causa conocida de epilepsia...<br>

                <br><b> 2. ¿Se transmite la Epilepsia de persona a persona? </b>
                <br><b>No</b>, La epilepsia es una <b>afección</b> que no se puede contagiar (de modo que no te la puede
                “pegar ni contagiar”).<br>

                <br><b>3. ¿La Epilepsia es hereditaria? </b>
                <br>La epilepsia <b>no siempre es hereditaria</b>, apenas el <b>4%</b> de todas las epilepsias tiene un
                componente genético hereditario.<br>

                <br><b>4. ¿Existe algún tratamiento natural para la Epilepsia?</b>
                <br><b>Dormir bien</b> y llevar <b>una vida tranquila</b> también ayuda a controlar los ataques de
                epilepsia. Además de <b>un buen descanso</b>, se ha señalado que hay terapias alternativas como por
                ejemplo <b>la práctica de yoga</b> que pueden ser de gran ayuda.<br>

                <br><b>5. ¿Qué famosos tienen Epilepsia? </b>
                <br>• Elton John
                <br>• Melanie Griffith
                <br>• Alex Crivillé
                <br>• Danny Glover
                <br>• Cameron Boyce (+)
                <br>• Romeo Beckham
                <br>• <a href="https://www.asociacionepilepsiacoruna.org/famosos-con-epilepsia" />Entre otros</a><br>

                <br><b>6. ¿La Epilepsia tiene cura?</b>
                <br><b>Sí tiene cura</b>. El problema es que, en muchas ocasiones, pasan por diferentes médicos y
                tratamientos no adecuados y la enfermedad sigue avanzando, en esos casos cuesta más trabajo
                revertirla.<br>

                <br><b>7. ¿Cuáles son los mejores tratamientos de la Epilepsia?</b>
                <br>Se emplean diversos medicamentos en el tratamiento de la epilepsia y las convulsiones, entre
                ellos:<br>
                <br>• Carbamazepina (Carbatrol, Tegretol, otros)
                <br>• Fenitoína (Dilantin, Phenytek)
                <br>• Ácido valproico (Depakene)
                <br>• Oxcarbazepina (Oxtellar, Trileptal)
                <br>• Lamotrigina (Lamictal)
                <br>• Gabapentina (Gralise, Neurontin)
                <br>• Topiramato (Topamax)
                <br>• Fenobarbital
                <br>• Zonisamida (Zonegran)<br>
                <br>El médico debe recetar el medicamento y la dosis adecuada puede ser un solo medicamento con una
                dosis relativamente baja y luego la aumente de manera gradual hasta que las convulsiones estén bien
                controladas.<br>

                <br><b>8. ¿Es recomendable hacer deporte a personas con Epilepsia? ¿Qué deporte y con qué frecuencia e
                    intensidad?</b><br>
                Se piensa que los adultos y niños con epilepsia no deben participar en deportes, sin embargo, con unas
                precauciones apropiadas, muchos de ellos pueden participar en diferentes tipos deportes más recomendados
                aquellos que trabajen la resistencia aeróbica, la flexibilidad y la fuerza-resistencia, <b>la natación y
                    el boxeo no se recomienda por falta de oxigeno o un golpe en la cabeza</b>.<br>

                <br><b>9. ¿Cómo vivir con Epilepsia? ¿Se puede ser feliz con Epilepsia? ¿Qué hay que hacer para ser
                    feliz con Epilepsia?</b>
                <br>• El diagnóstico de epilepsia sigue provocando aún en algunos casos <b>rechazo y dificultades en los
                    ámbitos sociales,</b> académicos y laborales. Sin embargo, la gran mayoría de las personas con
                epilepsia pueden llevar un estilo de vida normal y lograr una inserción social y laboral
                satisfactoria.<br>

                <br><b>10. ¿Con qué otros nombres se conocen a la Epilepsia? </b>
                <br>• Se lo conoce con <b>CONVULSIONES</b>.<br>

                <br><b>11. ¿Cómo se diagnostica la Epilepsia?</b>
                <br>Para diagnosticar el médico revisará tus síntomas y tu historia clínica, puede pedir varias pruebas
                para diagnosticar la epilepsia y determinar la causa de las convulsiones. <br>La evaluación puede
                incluir:
                <br><b>Un examen neurológico. </b> El médico puede examinar tu comportamiento, tus habilidades motoras,
                tu función mental y otras áreas para diagnosticar la enfermedad y determinar el tipo de epilepsia que
                puedes tener.
                <br><b>Análisis de sangre. </b> El médico puede tomar una muestra de sangre para determinar la presencia
                de signos de infecciones, enfermedades genéticas u otros trastornos que puedan estar asociados con las
                convulsiones.<br>

                <br><b>12. ¿Cuáles son los síntomas de la Epilepsia?</b>
                <br>Confusión temporal.
                <br>Episodios de ausencias.
                <br>Movimientos espasmódicos incontrolables de brazos y piernas.
                <br>Pérdida del conocimiento o conciencia.
                <br>Síntomas psíquicos, como miedo, ansiedad o déjà vu.
                <br>Los síntomas varían según el tipo de convulsión, la mayoría de los casos, una persona con epilepsia
                tenderá a tener el mismo tipo de convulsión en cada episodio, de modo que los síntomas serán similares
                entre un episodio y otro..<br>

                <br><b>13. ¿Cuál es la historia de la Epilepsia?</b>
                <br>• El término Epilepsia deriva del griego <b><i>'epilambaneim'</i></b>, que significa “coger por
                sorpresa”.<br>
                <br>• La Epilepsia es una enfermedad tan antigua como la humanidad. En los pueblos primitivos, este
                trastorno era recibido como un castigo de los dioses o una posesión diabólica.<br>
                <br>• El término Epilepsia Los griegos fueron los primeros en incluirla entre las enfermedades físicas y
                ya Hipócrates, el padre de la Medicina moderna (460 a. de Cristo), explicaba que la epilepsia no es más
                divina ni más sagrada que cualquier otra enfermedad, que tiene un origen natural y que está localizada
                en el cerebro.<br>

                <br><b>14. ¿Cuáles son las causas de la Epilepsia?</b>
                <br>• Influencia genética. Algunos tipos de epilepsia, que se clasifican según el tipo de convulsión que
                se padece o la parte del cerebro que resulta afectada, son hereditarios.<br>
                <br>• Traumatismo craneal.<br>
                <br>• Enfermedades cerebrales<br>
                <br>• Enfermedades infecciosas<br>
                <br>• Lesiones prenatales<br>
                <br>• Trastornos del desarrollo<br>

                <br><b>20. ¿Qué consejos darías a una persona que acaba de ser diagnosticada con Epilepsia? </b>
                <br>• Medidas generales que debe tomar una persona que ha sido diagnosticada con epilepsia..<br>
                <br>• Evite los factores desencadenantes..<br>
                <br>• Procure llevar un calendario de crisis y una lista de los medicamentos con las dosis
                prescritas..<br>
                <br>• Acuda de forma periódica a su médico para controles hemáticos y niveles plasmáticos de
                medicación..<br>
                <br>• No abandone jamás por su cuenta el tratamiento antiepiléptico..<br>
                <br>• Antes de modificar el tratamiento, consulte a su especialista..<br>
                <br>• Ante cualquier otra enfermedad, comunique al médico el tratamiento que está tomando.<br>
                <br>• Haga deportes, pero nunca bruscos o de riesgo (submarinismo, alpinismo ...). Es mejor hacer
                deportes colectivos..<br>
                <br>• No llegue al agotamiento..<br>

                <br><b>16. ¿Pueden trabajar las personas con Epilepsia? ¿En qué tipo de trabajos?</b>
                <br>• Profesiones que no pueden ejercer las personas diagnosticadas de epilepsia:.<br>
                <br>• Profesiones que incluyen la Tenencia y Uso Reglamentario de Armas de Fuego.<br>
                <br>• El Ejército.<br>
                <br>• La Policía.<br>
                <br>• Bombero.<br>
                <br>• En las instituciones Penitenciarias.<br>
                <br>• Servicios de Seguridad Privada, etc....<br>
                <br>• Profesiones que incluyen la conducción o controlde vehículos de transporte público<br>
                <br>• Piloto de Aeronaves y Helicópteros.<br>
                <br>• Controlador de Circulación Aérea.<br>
                <br>• Buceador Profesional.....<br>

                <br><b>17. ¿Cuáles son los últimos avances de la Epilepsia?</b>
                <br>• <a href="https://economiadelasalud.com/topics/epilepsia-avances-en-el-manejo-de-la-enfermedad/">La
                    <b>Organización Mundial de la Salud (OMS)</b></a>, en su medición de la carga global por
                enfermedades en el mundo, señala que la epilepsia es la segunda enfermedad neurológica en años de vida
                potencialmente perdidos o vividos con discapacidad.<br>

                <br><b>18. Epilepsia y depresión. ¿La Epilepsia puede causar depresión?</b>
                <br>• Los estudios epidemiológicos confirman la existencia de una <b>relación bidireccional entre la
                    epilepsia y la depresión</b>, lo que implica que no es que la epilepsia cause la depresión o
                viceversa, sino que tal relación puede explicarse por la existencia de mecanismos patogénicos comunes o
                que la persona que atraviesa por una crisis puede caer en depresión y los familiares deben prestar
                atención a cualquier síntoma para buscar ayuda a un profesional.<br>

                <br><b>19. ¿Cuál es la prevalencia de la Epilepsia?</b>
                <br>• Según datos de la <a
                    href="https://www.who.int/es/news-room/fact-sheets/detail/epilepsy"><b>OMG</b></a> La epilepsia es
                responsable de una proporción significativa de la carga mundial de morbilidad, pues afecta a más de 50
                millones de personas. La proporción estimada de la población general con epilepsia activa (es decir,
                ataques continuos o necesidad de tratamiento) en algún momento dado oscila entre 4 y 10 por 1000
                personas.<br>. <br>


            </p>
            <div id="famosos">
                <img src="/img/cartas/preguntas/Famosos.jpg">
            </div>
        </div>
        <!-- Aquí termina contenido de las cartas-->
    </div>
</form>
<script src="/js/Página_Principal.js"></script>