<!-- Required meta tags -->
<link rel="stylesheet" href="/css/tipoEpilepsiaCss/tipoEpilepsiaEditar.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

{{#each lista}} 
<form action="/tipoEpilepsia/editar/{{idTipoEpilepsia}}" method="post">
    <div id="contenido">   <div id="titulo">
                <p>
                    <b>Tipo de Epilepsia:</b>
                </p>
       </div>
        <div id="Nombre">
            <label>Tipo :</label>
            <input type="text" name="nombretipoEpilepsia" id="nombre" value="{{nombreTipoEpilepsia}}">
        </div>
     <div id="Descripcion"> 
      <label> Descripción:</label>
        <textarea type="text" name="descripcionTipoEpilepsia" id="descripcion" maxlength="2500" required> {{descripcionTipoEpilepsia}} </textarea>


        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
    </div>
</form>
{{/each}}