<!-- Required meta tags -->
<link rel="stylesheet" href="/css/efectosSecundariosCss/efectosSecundariosEditar.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

</div>
{{#each lista}} 
<form action="/efectosSecundarios/editar/{{idEfectosSecundarios}}" method="post">
    <div id="contenido">
       <div id="titulo">
                <p>
                    <b>Efectos Secundarios:</b>
                </p>
       </div>
        <div id="Nombre">
            <label>Efectos Secundarios:</label>
            <input type="text" name="nombreEfectosSecundarios" id="nombre" value="{{nombreEfectosSecundarios}}">
        </div>
    <div id="Descripcion"> 
      <label> Descripción:</label>
        <textarea type="text" name="descripcionEfectosSecundarios" id="descripcion" maxlength="2500" required> {{descripcionEfectosSecundarios}} </textarea>

</div>
        <div id="boton">
            <button type="submit">Guardar</button>
        </div>
    </div>
</form>
{{/each}}