<link rel="stylesheet" href="/CSS/solicitud/solicitud.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.jpg">
</div>

<div id="contenedor">
    <div class="row">
        <div id="tarjeta">
            <div id="titulo">
                <h1> Solictud:</h1>
            </div>
            <div id="foto">
                Foto:
            </div>
            <div id="nombre">
                Nombre:
            </div>

            <div id="botonAceptarSolicitud">
                <a href="#">
                    <button type="button">Enviar mensaje.</button>
                </a>
            </div>

            <div id="botonEliminar">
                <a href="#">
                    <button type="submit">Eliminar Amigos</button>
                </a>
            </div>
        </div>


        <div id="mensaje">
            <p><b>Usted no Solicitudes.</b></p>
            <a href="#">
                <button type="button">¿Desea enviar una solicitud?</button>
            </a>
        </div>

    </div>
</div>

<div id="plus">
    <a href="#">
        <button type="button"><img src="/img/usuarios/plus.png"></button>
    </a>
</div>