#contenedor {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 750px;
    max-height: 50%;
    left: 25%;
    top: 25%;
    text-align: center;
}

#titulo {
    width: 100%;
    height: 100%;
    max-width: 60%;
    max-height: 7.5%;
    position: absolute;
    top: 5%;
    left: 20%;
    font-size: 25px;
    font-weight: bolder;
}

#Nombre,
#Estado{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 80%;
    max-height: 25%;
    top: 20%;
    left: 10%;
    text-align: center;

}

#Estado {
top: 50%;

}

#boton button {
    position: absolute;
    width: 60%;
    font-size: 20px;
    bottom: 10%;
    left: 20%;
}