<link rel="stylesheet" href="/CSS/consejos/ConsejoEditar.css" />

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>


{{#each enlistar}}
<form action="/consejo/editar/{{idConsejo}}" method="POST">
    <div id="contenedor">
        <div id="titulo">
            <p>
                <b>Consejos:</b>
            </p>
        </div>

        <div id="Nombres">
            <label>
                Nombre:
            </label>
            <input type="text" name="nombreConsejo" id="nombre" value="{{nombreConsejo}}">
        </div>

        <div id="descripcion">
            <label>
                Descripción:
            </label>
            <input type="text" name="consejosDetallesConsejo" id="descripcion" value="{{consejosDetallesConsejo}}">
        </div>

        <div id="Guardar">
            <button type="submit" id="btn-agregar">
                Guardar Cambios
            </button>
        </div>
    </div>
</form>
{{/each}}