<link rel="stylesheet" href="/css/permisos/permisosAgregar.css">

<div id="fondo">
    <img src="/img/fondos/Fondo.jpg">
</div>

<div id="contenedor">
    <form action="/permisos/agregar/{{user.idUsuario}}" method="post" id="ocultar">
        <div id="tarjeta">
            <div id="titulo">
                <h1> Permisos </h1></div>
        </div>

        <div id="Nombre">
            Nombre:
            <input type="text" name="nombrePermisos" id="nombre" required>

        </div>

        <div id="Estado">
            Estado:
            <input type="text" name="estadoPermisos" id="nombre" required>
        </div>

        <div id="boton">
            <button type="submit">
                Agregar
            </button>
        </div>
    </form>
</div>