<link rel="stylesheet" href="/css/permisos/permisosEditar.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

<div id="contenedor">
    {{#each enlistar}}
    <form action="/permisos/editar/{{idpermisos}}" method="post" id="ocultar">

        <div id="Nombre">
            <label>
                Nombre:
            </label>
            <input type="text" name="nombrePermisos" id="nombre" value="{{nombrePermisos}}" required>
        </div>

        <div id="Estado">
            <label>
                Estado:
            </label>
            <input type="text" name="estadoPermisos" id="telefono" value="0{{estadoPermisos}}">
        </div>


        <div id="boton">
            <button type="submit" id="btn-agregar">
                Guardar Cambios
            </button>
        </div>
        {{/each}}

    </form>
</div>