<link rel="stylesheet" href="/CSS/Usuario/Registro.css">

<div id="fondo">
    <img src="/img/fondos/Fondo.jpg">
</div>

<div id="contenedor">
    <!-- Aquí comienza el segundo formulario -->
    <div id="formulario">
        <h2 name="h2" id="h2">CREAR CUENTA</h2>
        <form action="/Registro" method="POST">
            <div id="Cedula">
                <input id="cedulatxt" type="text" name="cedulaUsuario" placeholder="Cédula" required>
            </div>

            <div id="Nombre">
                <input id="nombretxt" type="text" name="nombreUsuario" placeholder="Nombre" required>
            </div>

            <div id="Apellido">
                <input id="apellidotxt" type="text" name="apellidoUsuario" placeholder="Apellido" required>
            </div>

            <div id="FechaNacimiento">
<<<<<<< HEAD
                <input id="fechaNacimientotxt" type="date" name="fechaNacimientoUsuario"
                    placeholder="Fecha de Nacimiento" required>
=======
                <input id="fechaNacimientotxt" type="text" name="fechaNacimientoUsuario" placeholder="Fecha de Nacimiento" required>
>>>>>>> Ever
            </div>

            <div id="CorreoEletronico">
                <input id="emailtxt" type="email" name="username" placeholder="Correo Eletrónico" required>
            </div>

            <div id="Contrasena">
                <input id="pastxt" type="password" name="password" placeholder="Contraseña" required>
            </div>

            <div id="Celular">
                <input id="celulartxt" type="tel" name="celularUsuario" placeholder="Celular" required>
            </div>

            <div id="ojo">
                <button id="visto" type="button" onclick="boton.cambio()"><img
                        src="/img/icons/black/visto.png"></button>
                <button id="equis" type="button" onclick="boton.cambio2()"><img
                        src="/img/icons/black/equis.png"></button>
            </div>

            <div id="ingresar">
                <button type="submit">Ingresar</button>
            </div>
        </form>
    </div>
    <!-- Aquí termina el segundo formulario --><div id="img">
    <img src="/img/logo/Logo_epilepsum.png">
</div>

</div>
<script src="/js/Usuario/Registro.js"></script>