<link rel="stylesheet" href="/CSS/Usuario/Verificacion.css">

<div id="fondo">
    <img src="/img/fondos/Fondo.jpg">
</div>

<div id="contenedor">
    <div id="formulario">
        <h1 id="h1" name="h1">EPILEPSUM</h1>
        <form action="/" method="post">
            <div id="datos">
                <label>
                    <b>Correo Electrónico</b>
                </label>
                <input id="correo" type="email" name="username" required>
            </div>

            <div id="boton">
                <button type="submit">Ingresar</button>
            </div>
        </form>
    </div>
</div>

<div id="img">
    <img src="/img/logo/Logo_epilepsum.png">
</div>