<link rel="stylesheet" href="/CSS/Mensajes/mensajes.css">

<div id="fondo">
    <img src="/img/mensajes/Captura.PNG">
</div>

<div class="row">
    {{#each enlistar}}
    <div id="mensaje">
        <div class="card">
            <div class="content">
                <div class="front">
                    <div class="box">
                        <div class="container-2">
                            <input type="search" id="search" placeholder="Buscar..." />
                        </div>
                        <br><br>
                        <div class="todox">
                            <div class="contenedor">
                                <img src="#" alt="" class="imagenr">
                                <div class="palabra">
                                    <span>| </span>
                                    <div class="letra">
                                        <p>Ahora</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card2">
                <div class="content2">
                    <div class="front2">
                        <div class="contenedor2">
                            <img src="#" alt="" class="imagenr">
                            <p>Tú</p>
                            <div class="palabr2">
                                <p>En línea</p>
                            </div>
                        </div>
                        <div class="contenedor3">
                            <form id="formulario" method="post" action="#">
                                <input type="text" class="escri" placeholder="Escribir..." />
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{/each}}
</div>
    