nav {
    background-color: #e3f2fd;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100px;
}

#img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 90px;
    max-height: 90px;
    top: 2.5%;
    left: 1%;
}

#img img {
    width: 100%;
    height: 100%;
}

#Nombre {
    position: absolute;
    top: 30%;
    left: 7%;
}

#Control {
    position: absolute;
    top: 30%;
    left: 16%;
}

#Colaboracion {
    position: absolute;
    top: 30%;
    left: 24%;
}

#PrimerosAuxilios {
    position: absolute;
    top: 30%;
    left: 32%;
}

#Ubicacion {
    position: absolute;
    top: 30%;
    left: 42%;
}

#Contactos {
    position: absolute;
    top: 30%;
    left: 50%;
}

#Nombre a,
#Control a,
#Colaboracion a,
#PrimerosAuxilios a,
#Ubicacion a,
#Contactos a {
    color: black;
}



#Cierre{
    border-color: transparent;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    width: 15%;
    height: 40%;
    top: 10%;
    left: 82.5%;
}


#Cierre button{
    border-color: transparent;
    color: white;
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    font-size: 20px;
}

