nav {
    background-color: #e3f2fd;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 75px;
}

#img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
    top: 7.5%;
    left: 1%;
}

#img img {
    width: 100%;
    height: 100%;
}

#EPILEPSUM,
#Contenido,
#efectosSecundarios,
#tipoEpilepsia,
#sintomas,
#Contactos,
#Experiencias,
#Consejos,
#Dudas{ 
    position: absolute;
    top: 30%;
    left: 6%;
}

#Contenido {
    left: 15%;
}

#efectosSecundarios {
    left: 22.5%;
}

#tipoEpilepsia {
    left: 35.5%;
}

#sintomas {
    left: 47.5%;
}

#Experiencias {

    left: 55%;
}

#Consejos {
    left: 64%;
}

#Dudas {
    left: 73%;
}

#EPILEPSUM a,
#Contenido a,
#efectosSecundarios a,
#tipoEpilepsia a,
#sintomas a,
#Contactos a,
#Experiencias a,
#Consejos a,
#Dudas a{
    color: black;
    text-decoration: none;
}

#Cierre{
    border-color: transparent;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    width: 10%;
    height: 50%;
    top: 20%;
    left: 88%;
}

#Cierre button{
    border-color: transparent;
    color: white;
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    font-size: 20px;
}
