nav {
    background-color: #B98CB9;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 75px;
    text-align: center;
}

#img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 4.5%;
    max-height: 85%;
    top: 7.5%;
    left: 1%;
}

#img img {
    width: 100%;
    height: 100%;
}

#EPILEPSUM,
#Contenido,
#efectosSecundarios,
#tipoEpilepsia,
#sintomas,
#Contactos,
#Experiencias,
#Consejos,
#Dudas {
    position: absolute;
    top: 30%;
    left: 6%;
}

#Contenido {
    left: 15%;
}

#efectosSecundarios {
    left: 22.5%;
}

#tipoEpilepsia {
    left: 35.5%;
}

#sintomas {
    left: 47.5%;
}

#Experiencias {

    left: 55%;
}

#Consejos {
    left: 64%;
}

#Dudas {
    left: 73%;
}

#EPILEPSUM a,
#Contenido a,
#efectosSecundarios a,
#tipoEpilepsia a,
#sintomas a,
#Contactos a,
#Experiencias a,
#Consejos a,
#Dudas a {
    color: black;
    text-decoration: none;
}

#Cierre {
    border-color: transparent;
    text-align: center;
    border-radius: 20px;
    position: absolute;
    width: 10%;
    height: 50%;
    top: 20%;
    left: 88%;
}

#Cierre button {
    border-color: transparent;
    color: white;
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    font-size: 20px;
}

/*Navegacion pequeña*/
#hamburguesa {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    max-width: 5%;
    max-height: 10%;
    display: none;
}

#hamburguesa img {
    width: 75%;
    height: 75%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#hamburguesa button {
    background-color: transparent;
    border-color: transparent;
}

#cierra {
    background-color: #7D2181;
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 6.25%;
    max-width: 5%;
    max-height: 10%;
    display: none;
    border-radius: 50%;
}

#cierra img {
    width: 85%;
    height: 85%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#cierra button {
    background-color: transparent;
    border-color: transparent;
}

@media screen and (orientation: landscape) and (max-width: 1400px) and (min-width: 1000px) {
    nav {
        max-width: 100%;
    }

    #Cierre {
        top: -5%;
    }
}


@media only screen and (orientation: landscape) and (max-width: 1000px) and (min-width: 655px) {
    nav {
        max-width: 100%;
    }

    #Cierre {
        top: -5%;
    }
}


@media only screen and (orientation: portrait) and (max-width: 1000px) and (min-width: 655px) {
    nav {
        display: none;
        max-width: 100%;
        max-height: 100%;
    }

    #Cierre {
        top: -5%;
    }

    #cierra {
        display: block;
        max-width: 10%;
        max-height: 10%;
    }

    #hamburguesa {
        max-width: 10%;
        max-height: 10%;
        top: 0%;
    }

    #img {
        max-width: 15%;
        max-height: 15%;
        top: 2%;
        left: 42.5%;
    }

    #EPILEPSUM {
        top: 17.5%;
        left: 0%;
        width: 100%;
    }

    #Control {
        top: 30%;
        left: 0%;
        width: 100%;
    }

    #Colaboracion {
        top: 40%;
        left: 0%;
        width: 100%;
    }

    #PrimerosAuxilios {
        top: 50%;
        left: 0%;
        width: 100%;
    }

    #Ubicacion {
        top: 60%;
        left: 0%;
        width: 100%;
    }

    #Contactos {
        top: 70%;
        left: 0%;
        width: 100%;
    }

    #InformacionNavbar {
        top: 80%;
        left: 0%;
        width: 100%;
    }

    #Cierre {
        background-color: black;
        top: 90%;
        left: 0%;
        width: 100%;
        height: 6%;
    }

    footer {
        display: none;
    }
}

@media only screen and (orientation: portrait) and (max-width: 667px) and (min-width: 384px) {
    nav {
        display: none;
        max-width: 100%;
        max-height: 100%;
    }

    #Cierre {
        top: -5%;
    }

    #cierra {
        display: block;
        max-width: 10%;
        max-height: 10%;
    }

    #hamburguesa {
        max-width: 10%;
        max-height: 10%;
        top: 0%;
    }

    #img {
        max-width: 15%;
        max-height: 15%;
        top: 2%;
        left: 42.5%;
    }

    #EPILEPSUM {
        top: 17.5%;
        left: 0%;
        width: 100%;
    }

    #Control {
        top: 30%;
        left: 0%;
        width: 100%;
    }

    #Colaboracion {
        top: 40%;
        left: 0%;
        width: 100%;
    }

    #PrimerosAuxilios {
        top: 50%;
        left: 0%;
        width: 100%;
    }

    #Ubicacion {
        top: 60%;
        left: 0%;
        width: 100%;
    }

    #Contactos {
        top: 70%;
        left: 0%;
        width: 100%;
    }

    #InformacionNavbar {
        top: 80%;
        left: 0%;
        width: 100%;
    }

    #Cierre {
        background-color: black;
        top: 90%;
        left: 0%;
        width: 100%;
        height: 6%;
    }

    footer {
        display: none;
    }
}

@media only screen and (orientation: portrait) and (max-width: 384px) and (min-width: 150px) {
    nav {
        display: none;
        max-width: 100%;
        max-height: 100%;
    }

    #cierra {
        display: block;
        max-width: 15%;
        max-height: 15%;
    }

    #hamburguesa {
        max-width: 15%;
        max-height: 15%;
        top: 0%;
    }

    #img {
        max-width: 25%;
        max-height: 15%;
        top: 2%;
        left: 37.5%;
    }

    #EPILEPSUM {
        top: 17.5%;
        left: 0%;
        width: 100%;
    }

    #Control {
        top: 30%;
        left: 0%;
        width: 100%;
    }

    #Colaboracion {
        top: 40%;
        left: 0%;
        width: 100%;
    }

    #PrimerosAuxilios {
        top: 50%;
        left: 0%;
        width: 100%;
    }

    #Ubicacion {
        top: 60%;
        left: 0%;
        width: 100%;
    }

    #Contactos {
        top: 70%;
        left: 0%;
        width: 100%;
    }

    #InformacionNavbar {
        top: 80%;
        left: 0%;
        width: 100%;
    }

    #Cierre {
        background-color: black;
        top: 90%;
        left: 0%;
        width: 100%;
        height: 6%;
    }

    footer {
        display: none;
    }
}