<link rel="stylesheet" href="/css/rolesUsuarios/usuariosEditar.css">

<div id="fondo">
    <img src="/img/fondos/sistemaNervioso.png">
</div>

<div id="contenedor">
    {{#each enlistar}}
    <form action="/usuarios/editar/{{idusuario}}" method="post" id="ocultar">

        <div id="Nombre">
            <label>
                Nombre:
            </label>
            <input type="text" name="nombreUsuario" id="nombre" value="0{{nombreUsuario}}">
        </div>

        <div id="Estado">
            <label>
                Estado:
            </label>
            <input type="text" name="estadoUsuario" id="estado" value="0{{estadoUsuario}}">
        </div>

        <div id="boton">
            <button type="submit" id="btn-agregar">
                Guardar Cambios
            </button>
        </div>
        {{/each}}

    </form>
</div>