<link rel="stylesheet" href="/css/partials/footer.css" />

{{#if user}}
  <footer>
    <div id="Informacion">
      <a href="/Contacto/{{user.idPaciente}}">Información de la Página</a>
    </div>
  </footer>
{{/if}}